html {
    font-size: 16pt;
    font-family: "Open Sans", "Lato", Roboto, Arial, sans-serif;
}

body {
    background-color: rgb(49, 21, 62);
    color: rgb(249, 247, 241);
    text-align: center;
    padding: 1rem;
}

a {
    color: rgb(249, 247, 241);
    text-underline-offset: .2em;
}

a, a:visited, a:focus {
    text-decoration: dotted underline;
}

a:hover {
    text-decoration: solid underline;
}

.small {
    font-size: 0.8em;
}

#definition {
    font-style: italic;
}

#savant {
    width: 100%;
    max-width: 591px;
    margin: -3rem 0 -4rem 0;
}

#advice {
    font-size: 1.6rem;
}

#about {
    font-size: 0.8rem;
    margin-top: 3rem;
}

@media (min-width: 992px) {
    body {
        padding: 2rem;
    }

    #about {
        margin-top: 5rem;
    }
}